$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


.photo-container {

  .current-photo {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;

    > img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      min-width: 50%;
      min-height: 50%;
    }
  }

  [class*="col-"] {
    padding : 8px;
    overflow-wrap: break-word;
  }

  .attribution {
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: block;
    width: 100%;
//    background : #282829;
    background : rgba(40, 40, 41, 0.9);
    padding: 0 16px;

    p {
      color: #fff;
      margin: 0;
    }

    a {
      color : #fff;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color : #2950d8;
      }
    }
  }
}
